# Binários
/argus-hub
/argus-agent

# Dados locais
/data/
*.db

# Env
.env

# Go
/vendor/

# Web
web/node_modules/
web/dist/

# Site MkDocs
/site/
__pycache__/
/docs/changelog.md
/docs/contributing.md
/docs/contributing.pt.md

# IDE
.idea/
.vscode/
